# Environment & secrets
.env
*.env
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Docker volumes & local data
mongo-data/

# OS & Editor files
.DS_Store
.vscode/
.idea/
*.log
